# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3-journal
venv/

# Django media files
media/

# Django static files (optional)
staticfiles/
static/

# OS / editor files
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
